<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".gltf" mimeType="application/script" />
			<mimeMap fileExtension=".obj" mimeType="application/script" />
        </staticContent>
    </system.webServer>
</configuration>
